.popup__form {
  width: 430px;
  min-height: 330px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 11;
  justify-self: center;
  align-self: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: black;
  position: relative;
}

@media all and (max-width: 550px) {
  .popup__form {
    width: 282px;
    min-height: 322px;
  }
}